.dimBg {
  background: $dim_fbf2fe;
}
.sz-36 {
  font-size: 36px;
  @media screen and (max-width: 992px) {
    font-size: 32px;
  }
  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}
.mb-20 {
  margin: 0 0 20px;
}
.col-purple {
  color: $purple_501BA8;
}
.col-pink {
  color: $pink_CA2790;
}
.col-black {
  color: $b;
}
.col-white {
  color: $w;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
